@model TaxCalculation
@{
    ViewData["Title"] = @ViewBag.Title;
}

<h1>@ViewBag.Title</h1>

<h2>@ViewBag.Message</h2>

<div>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.PostalCode): </td>
            <td>@Html.DropDownList("PostalCodes")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.AnnualIncome): </td>
            <td>@Html.TextBoxFor(m => m.AnnualIncome)</td>
        </tr>
    </table>
</div>
<div class="bg-light">
    <input type="submit" id="submitTaxCalc" class="btn-dark" />
</div>
